<!DOCTYPE html>
<html lang="<%= typeof siteLanguage !== 'undefined' ? siteLanguage : 'de' %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Deutsch Leseecke bietet moderne Kurzgeschichten f&uuml;r Deutschlernende auf allen Niveaus.">
  <title><%= typeof pageTitle !== 'undefined' ? pageTitle + ' - ' : '' %>Deutsch Leseecke</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/site-language.js" defer></script>
</head>
<body
  data-authenticated="<%= currentUser ? 'true' : 'false' %>"
  data-site-language="<%= typeof siteLanguage !== 'undefined' ? siteLanguage : 'de' %>"
>
